@import "tailwindcss";

:root {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-soft-foreground: rgb(107, 107, 107);
} 

@theme {
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-soft-foreground: var(--color-soft-foreground);
  --font-sans: var(--font-open-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-open-sans), system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
} 

a {
  text-decoration: none;
}
